<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel="stylesheet" href="/lib/bootstrap-3.3.4-dist/css/bootstrap.min.css">
    <script src="/lib/jquery-2.1.4.min.js"></script>
	<script src="/lib/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>

  </head>
  <body>

  	<div class="container">
      {{{body}}}
  	</div>
  </body>
</html>
